root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf

[*.{java, js, jsp, kt, kts, md, properties, sh, sql, yml, yaml}]
insert_final_newline = true

[*.{kt, kts}]
indent_style = space
disabled_rules = import-ordering
continuation_indent_size = 4
